<nav>
  <%= link_to 'Authors', authors_path %>
  Categories
  <% if current_author %>
    <%= link_to "Log out", destroy_author_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", new_author_session_path %>
  <% end %>
</nav>